.navbar {
    background-color: blue;
    height: 90px;
    justify-content: center;
}
.navbar-wrapper ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-wrapper ul > *:hover {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.11);
    padding: 13px;
    margin: 5px;
    text-decoration: none;
}
.navbar-wrapper ul > * {
    color: black;
    border-radius: 20px;
    padding: 13px;
    margin: 5px;
    text-decoration: none;
}
.navbar-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

