{% block navbar %}
    <nav class="navbar">
        <div class="navbar-wrapper">
            <ul>
                <a href="/">Login</a>
                <a href="/content">Signup</a>
                <a href="/about">About</a>
            </ul>
        </div>
    </nav>
{% endblock %}